.featuredMenu {
  &__titleRow {
  }
  &__titleRowCard {
    padding-block: 7.5rem;
    padding-inline: 11.25rem;

    margin-block-start: calc(-1 * var(--position-of-titleRowCard) + 2rem);

    -webkit-backdrop-filter: blur(0.94rem);
    backdrop-filter: blur(0.94rem);
    border-top-right-radius: 0.63rem;
    background: url(notebook-dark), rgba(23, 23, 23, 0.7);
  }
  &__title {
    --_quote-spacing: var(--spacing-2);
    --_quote-size: 2rem;

    text-transform: capitalize;

    &::after {
      width: var(--_quote-size);
      aspect-ratio: 1;

      content: '"';
      color: var(--brand);
      margin-inline-start: var(--_quote-spacing);
    }
    &::before {
      width: var(--_quote-size);
      aspect-ratio: 1;

      content: '"';
      color: var(--brand);
      margin-inline-end: var(--_quote-spacing);
      margin-inline-start: calc(
        var(--_quote-spacing) * -1 - var(--_quote-size)
      );
    }
  }

  &__menuStack {
    &::before {
      -webkit-backdrop-filter: blur(0.94rem);
      backdrop-filter: blur(0.94rem);
      background: url(notebook-dark), rgba(23, 23, 23, 0.7);
      border-bottom-right-radius: 0.63rem;
      z-index: -1;

      width: 50%;
      height: 12rem;
      position: absolute;
      left: 0;
      content: "";
    }
  }
}
